@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 15 23 42;
        --foreground: 248 250 252;
    }

    body {
        @apply min-h-screen bg-gradient-to-br from-slate-900 via-slate-800 to-slate-900 text-slate-50;
    }
}